@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
   
  }
  
  .wrapper {
    min-height: 0vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5dafb8;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .card {
    height: 100%;
    border-radius: 13px;
    box-shadow: 20px 40px 33px rgba(0,0,0,0.3);
    padding: 2rem;
    width: 100%;
    background-color:  #6cc2ce;
  
  }
  
  .product-canvas {
    width: 100%;
    height: 70vh;
    background:white;
    box-shadow:  10px 15px 15px 6px #3891b4;
    border-radius: 0px;
    margin-bottom:20px
  
  }
  
  .colors {
  display:flex;
  flex-direction:row;
  }
  
  .colors div {padding:8px;}

  .item_label{
    font-size: 13px;
    color: black;
    transition: 0.4s color;

  }
  .item {
  background-color: white; /* Green */
  border: 2px solid #e7e7e7;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.5s;

  }
  .item:hover {
    cursor: pointer;
    opacity: 0.9;
    background-color: #e7e7e7;
  }
  .item.item--active {
    border: 2px solid #2434be;
  }
  .cselector:hover {
    cursor: pointer;
    opacity: 0.9;
    background-color: #2e48a9;
  }
  #list{
   display: none;
   
  flex-direction:row;
  }
  #list div{
    padding:8px;
   }
   
  
  